.git
.idea
.pytest_cache
__pycache__
*/__pycache__
*/.pytest_cache
venv
*.pyc
*.pyo
*.pyd
.Python
.coverage
.coverage.*
.cache
coverage.xml
*.cover
*.log
.pytest_cache
/data/dataset/*
notebooks/.ipynb_checkpoints
*__pycache__/
data/*/*.jpg
data/*/*.png
data/*/*.csv
data/*/*.pdf
data/*/*/*.jpg
data/*/*/*.png
data/*/*/*.csv
data/*/*/*.pdf
data/train
data/test
data/valid
models/vgg16/checkpoints/*.tf.*
models/vgg16/checkpoints/trained_weights.*
models/vgg16/checkpoints/trained_weights
models/vgg16/checkpoints/checkpoint
models/vgg16/logs/*
models/vgg16/logs/*/events.out.tfevents*
models/vgg16/saved_models/*
models/vgg16/saved_models/*/results.txt
models/vgg16/saved_models/*/*.data*
models/vgg16/saved_models/*/*.index
models/vgg16/saved_models/*/trained_weights
*.bak